<% comic = locals[:comic] %>

<%date = Date.parse comic.date%>

<h1><%= comic.title %>  <span> - <%=date.strftime('%b %e, %Y') %></span></h1>
<%= partial(:navigation_arrows, :locals => { :comic => comic}) %>
<img src="/images/<%=comic.image%>" alt="<%=comic.title%>" />
